.containerfooter {
  background-color: #f30b3d;
  color: aliceblue;
  display: flex;
}
.gridparent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.gridfooter {
  margin: 5%;
}
