.form-login {
  width: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#a9a9a9, #b0e0e6, #d8bfd8);
  padding: 50px;
}
.form-register {
  width: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(tomato, #f08080, #eb0a7b);
  padding: 50px;
}

.input-text {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 500px;
}
